.header{
  background-color: #90EE90;
  padding: 10px;
  text-align: center;
  color: #810000;
  font-family: sans-serif;
}


.grid{
    border: 2px solid #B3F7DE;
    margin: 10px;
    text-align: center;
    border-radius: 50px;

}

.origami{
    background-color :#f1f1f1;
    padding: 20px;
    float: inline-end;
    display : flex;
    color:#641310;
    font-family: cursive;
    border-radius: 40px;
    margin: 19px;
    width: 1230px;

}

.about{
    position: fixed;
    transform: translate(40%, 40%);
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #EFF9DA;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;

  }
  